.user-menu {
    position: relative;
    display: inline-block;
  }
  
  .ngce-user-circle {
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 0.50rem
    
;
    
  }
  
  .menu-dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    display: flex
  }
